
//$bcol: #343a40;
$indent: 3em;
$mvert: 1em;

$gray: #95a5a6;
$gray-dark: #343a40;
$col-border: scale_color($gray, $lightness: 40%);
$col-message: #6610f2;
$col-signal:  lightgoldenrodyellow;
$col-moderator: lightyellow;
$col-own: lightcyan;
$signal-time: 3s;

//$hor-border: scale_color($bcol, $lightness: 60%);
$left-border: .5em solid scale_color($col-border, $lightness: 60%);

@keyframes target-fade {
  from { background-color: $col-signal; }
  to { background-color: #fff; }
}

@keyframes target-fade-moderator {
  from { background-color: $col-signal; }
  to { background-color: $col-moderator; }
}

@keyframes target-fade-own {
  from { background-color: $col-signal; }
  to { background-color: $col-own; }
}

.comus-block {
  li  {
    //padding-top: 4em;   // take fixed navbar into account
    //margin-top: -4em;
    //margin-bottom: $mvert;
    &:last-child  {
      //margin-bottom: 0;
    }
    &:target {
      & > .comus-wrap {
        animation: target-fade $signal-time 1;
      }
      & > .comus-moderator {
        animation: target-fade-moderator $signal-time 1;
      }
      & > .comus-own {
        animation: target-fade-own $signal-time 1;
      }
    }
  }
  ol ol {
    border-left: $left-border;
    padding-left: $indent;
    //padding-top: $mvert;
  }
  [type=submit] {
    margin-left: 1em;
  }
  textarea  {
    border: 1px solid $gray;
    overflow: hidden;
    resize: none;
    min-height: 4em;
  }
  .has-error .help-block {
    color: #e74c3c;
  }
}

.comus-create {
  margin-bottom: $mvert;
}

.comus-comment  {
  padding-top: $mvert;
  padding-left: $indent;
  border-left:  $left-border;
}

.comus-level  {
  display: flex;
  flex-direction: column;
}

.comus-asc {
  .comus-level  {
    flex-direction: column-reverse;
  }
}

.comus-level-0 > .comus-list  {
  border-top: 1px solid $col-border;
}

.comus-wrap {
  //border-top: 1px solid $ccol;
  border-bottom: 1px solid $col-border;
  //box-shadow: inset 0 0 8px 0 $ccol; //rgba(0, 0, 0, 0.30);
  //border-radius: .3em;
  padding: .5em 1rem;
  //margin-bottom: 1em;
  .comus-buttons {
    display: none;
    margin-left: auto;
    .field-comment-status {
      height: 1.5rem;
      border: 1px solid #ccc;
      border-radius: .3em;
      padding: 0 .3em;
    }
  }

  &:hover .comus-buttons {
    display: flex;
  }
}

.comus-author,
.comus-date  {
  border-bottom: 1px solid $col-border;
}

.comus-author {
//.comus-date  {
  font-weight: bold;
}

.comus-date {
  padding-left: 1em;
}

.comus-moderator  {
  background-color: $col-moderator;
}

.comus-own  {
  background-color: $col-own;
}

.comus-meta {
  display: flex;
}

.comus-status-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 1.5rem;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked ~ label {
      opacity: 1;
    }
  }
  [value="1"] ~ label {
    color: scale_color(#18bc9c, $lightness: -20%);
  }
  [value="2"] ~ label {
    color: #e74c3c;
  }
  label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    cursor: pointer;
    opacity: .3;
    &:hover {
      opacity: .7;
    }
  }
}

.comus-next,
.comus-delete,
.comus-edit,
.comus-reply  {
  margin-left: 1em;
  color: $gray;
  &:hover {
    color: $gray-dark;
  }
}

.comus-group  {
  width: 100%;
}

.comus-create,
.comus-comment form {
  display: flex;
  align-items: flex-end;
}

.comus-editor,
.comus-comment {
  display: none;
  .field-comment-body  {
    flex: auto;
  }
}

.comus-editing > .comus-wrap {
  .comus-body {
    display: none;
  }
  .comus-editor {
    display: flex;
    align-items: flex-end;
  }
}

.comus-replying > .comus-level {
  &>.comus-comment  {
    display: block;
  }
}

.comus-pending .comus-body {
  color: $gray;
}

.comus-rejected .comus-body {
  text-decoration: line-through;
}

.comus-message  {
  color: $col-message;
}

.comus-user-comments  {
  th, td  {
    &:first-child {
      width: 12em;
    }
  }
}

.comus-user-summary {
  font-size: 1.4rem;
  font-weight: bold;
}
