@keyframes target-fade {
  from {
    background-color: #fd9843;
  }
  to {
    background-color: var(--comus-bg);
  }
}
.comus-block {
  --comus-bg: #fff;
}
.comus-block li:target > .comus-wrap {
  animation: target-fade 3s 1;
}
.comus-block ol ol {
  border-left: 0.5em solid #e6e9ea;
  padding-left: 3em;
}
.comus-block [type=submit] {
  margin-left: 1em;
  align-self: flex-end;
}
.comus-block textarea {
  border: 1px solid #95a5a6;
  overflow: hidden;
  resize: none;
  min-height: 4em;
}
.comus-block .has-error .help-block {
  color: #e74c3c;
}

.comus-create {
  margin-bottom: 1em;
}

.comus-comment {
  padding-top: 1em;
  padding-left: 3em;
  border-left: 0.5em solid #e6e9ea;
}

.comus-level {
  display: flex;
  flex-direction: column;
}

.comus-asc .comus-level {
  flex-direction: column-reverse;
}

.comus-level-0 > .comus-list {
  border-top: 1px solid #bfc9ca;
}

.comus-wrap {
  display: flex;
  background-color: var(--comus-bg);
  border-bottom: 1px solid #bfc9ca;
  padding: 0.5em;
}
.comus-wrap .comus-buttons {
  display: none;
  margin-left: auto;
}
.comus-wrap .comus-buttons .field-comment-status {
  height: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  padding: 0 0.3em;
}
.comus-wrap:hover .comus-buttons {
  display: flex;
}

.comus-avatar {
  flex: none;
  margin-right: 0.5em;
}

.comus-inner {
  flex: auto;
}

.comus-meta {
  display: flex;
  border-bottom: 1px dotted #95a5a6;
}

.comus-author {
  font-weight: bold;
}

.comus-date {
  padding-left: 1em;
}

.comus-short {
  padding-left: 1em;
  font-size: 75%;
  color: #95a5a6;
}

.comus-moderator {
  --comus-bg: lightyellow;
}

.comus-own {
  --comus-bg: lightcyan;
}

.comus-ribbon {
  display: flex;
}

.comus-status-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 1.5rem;
}
.comus-status-item input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.comus-status-item input:checked ~ label {
  opacity: 1;
}
.comus-status-item [value="1"] ~ label {
  color: #13967d;
}
.comus-status-item [value="2"] ~ label {
  color: #e74c3c;
}
.comus-status-item label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  cursor: pointer;
  opacity: 0.3;
}
.comus-status-item label:hover {
  opacity: 0.7;
}

.comus-previous,
.comus-next,
.comus-delete,
.comus-edit,
.comus-reply {
  margin-left: 1em;
  color: #95a5a6;
}
.comus-previous:hover,
.comus-next:hover,
.comus-delete:hover,
.comus-edit:hover,
.comus-reply:hover {
  color: #343a40;
}

.comus-next {
  margin-left: 0.3em;
}

.comus-group {
  width: 100%;
}

.comus-create,
.comus-comment form {
  display: flex;
}

.comus-editor,
.comus-comment {
  display: none;
}
.comus-editor .field-comment-body,
.comus-comment .field-comment-body {
  flex: auto;
}

.comus-editing > .comus-wrap .comus-body {
  display: none;
}
.comus-editing > .comus-wrap .comus-editor {
  display: flex;
  align-items: flex-end;
}

.comus-replying > .comus-level > .comus-comment {
  display: block;
}

.comus-pending .comus-body {
  color: #95a5a6;
}

.comus-rejected .comus-body {
  text-decoration: line-through;
}

.comus-message {
  color: #6610f2;
}

.comus-user-comments th:first-child, .comus-user-comments td:first-child {
  width: 12em;
}

.comus-user-summary {
  font-size: 1.4rem;
  font-weight: bold;
}

/*# sourceMappingURL=comus.css.map */
